{{>_navbar}}
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <h2 class="texto-principal">Editar Anotação</h2>
        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <form action="/editing/annotation" method="POST">
                        <input type="hidden" name="id" value="{{annotation._id}}">
                        <label for="title" class="form-label">Titulo:</label>
                        <input type="text" name="title" id="id_title" placeholder="Editar título" class="form-control" value="{{annotation.title}}">
                        <div class="mb-3">
                            <label for="annotation" class="form-label">Anotação:</label>
                            <textarea class="form-control"name="annotation" id="id_annotation" rows="9" placeholder="Editar anotação">{{annotation.annotation}}</textarea>
                        </div>
                        <label for="publication_type" class="form-label">Tipo de públicação:</label><br>
                        <select name="publication_type" id="id_publication_type" class="form-control">
                            <option value={{annotation.publication_type}}>{{annotation.publication_type}}</option>
                            <option value="Pública">Pública</option>
                            <option value="Privada">Privada</option>
                        </select>
                    <div id="area-botao">
                            <button type="submit" id="concluir" class="btn mt-3">
                                Concluir
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
